.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: navajowhite;
    color: black;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
}

@media (max-height: 600px) {
    .footer {
        position: static;
    }
}
